################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Blog.API/obj
/Blog.Application/obj
/Blog.Domain/obj
/Blog.Infrastructure/obj
/Blog.API/bin/Debug/net8.0
/Blog.Application/bin/Debug/net8.0
/Blog.Domain/bin/Debug/net8.0
/Blog.Infrastructure/bin/Debug/net8.0
